<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knowyourcampus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuizPageTwoActivity" />
        <activity android:name=".QuizPageThreeActivity" />
        <activity android:name=".QuizPageFourActivity" />
        <activity android:name=".QuizFinalscoreActivity" />
        <activity android:name=".QuizPageOneActivity" />
        <activity android:name=".StartQuizActivity" />
        <activity android:name=".LeaderboardActivity" />
        <activity android:name=".TeamLobbyActivity"></activity>
        <activity android:name=".TeamNameInputActivity" />
        <activity android:name=".TeamJoinActivity" />
        <activity android:name=".TeamRoleSelectionActivity" />
        <activity android:name=".PlayerSelectionActivity" />
        <activity android:name=".TourSelectionActivity" />
        <activity android:name=".SoloNameInputActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>